DIV._pgn1 { display:inline;color:#993300;cursor:pointer }
DIV._pgn2 { display:inline;background-color:#FFCCCC }
DIV._pgn3 { display:inline;background-color:#CC99FF }
DIV._pgn6 { display:inline }
DIV._pgn_header { display:inline;color:#330000;font-size: larger }
DIV._pgn_header2 { display:inline;color:#330000 }
DIV._pgn_nag { display:inline;color:#330000;font-size: smaller }
